@font-face { font-family: nunito-extralight;
			 src: url('assets/fonts/Nunito-ExtraLight.ttf'); }
@font-face { font-family: nunito-regular;
			 src: url('assets/fonts/Nunito-Regular.ttf'); }
@font-face { font-family: roboto-medium;
			 src: url('assets/fonts/Roboto-Medium.ttf'); }
@font-face { font-family: adieu-bold;
			 src: url('assets/fonts/Adieu-Bold.otf'); }

* {
  box-sizing: border-box;
}
html, body, #app { margin: 0; padding: 0; overflow: hidden;}
#app {
  font-family: nunito-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  width: 100vw;
  height: 100vh;
	font-size: 1em;
}
h1, h2, button {
  font-size: 5vh;
  font-family: adieu-bold;
	text-transform: uppercase;
}
b {
  font-family: roboto-medium;
}
span {
	font-family: nunito-extralight;
	font-size: 1.5em;
}
article, .bg, .content {
	position: absolute;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
}
svg {fill: #000;}

/* Titulo ------------ */

header {
	position: absolute;
	z-index: 10;
	text-align: right;
	margin-top: 5vh;
}
header div {
	margin: auto;
	background-color: #fff;
	padding: 1vh 2vw 2vh 3vw;
	font-size: .5em;
	width: 30vw;
}
.title{font-size: 2.6em; }
/* ABAS ------------ */
.main {
	display: flex;
	width: 100vw;
	height: 100vh;
}
section {width: 2.5vw; position: relative; overflow: hidden; transition: all .5s ease-in-out;}
.closed {width: 20vw;}
.open {width: 90vw;}

.vale   {background-color: rgb(91,126,94);}
.bush   {background-color: rgb(202,85,60);}
.terra  {background-color: rgb(111,99,77);}
.mar    {background-color: rgb(0,91,158);}
.jardim {background-color: rgb(180,193,186);}

.content {width: 40vw;}

.logo {
	opacity: .4;
	max-height: 75%;
	max-width: 75%;
	position: absolute;
	bottom: -10vh;
	transform: translateX(-32%);
	transition: all .5s ease-in-out;
}
.open .logo {transform: translateX(-5%);}
.vale .content   {margin-left: 40vw;}
.bush .content   {margin-left: 37.5vw;}
.terra .content  {margin-left: 35vw;}
.mar .content    {margin-left: 32.5vw;}
.jardim .content {margin-left: 30vw;}
.content h1 {margin: 10vh 0 2vh 0;}
.content p {padding-left: 8vw;}
button { font-size: .8em; background-color: #000; border:0; padding: 2vh; margin: 5vh 0 0 50%; cursor: pointer;}
.vale button   {color: rgb(91,126,94);}
.bush button   {color: rgb(202,85,60);}
.terra button  {color: rgb(111,99,77);}
.mar button    {color: rgb(0,91,158);}
.jardim button {color: rgb(180,193,186);}

/* Extra ----------------------- */
.extra { position: absolute; top: -100vh; max-height: 100%; max-width: 100%; overflow: hidden; transition: all .4s ease-in-out; z-index: 999;}
.extra.enter {top: 0;}
section {
  background-color: #000;
  overflow: hidden;
}

.tema {
  position: absolute;
  right: 35vw;
  top: -550px;
  transform-origin: center;
  transform: rotate(30deg)
}

.conteudos {height: 100vh; width: 100vw;}
.info {
  background-color: rgb(248,225,0);
  padding: 10vh 10vw 0 65vw;
  color: #000;
	font-size: .65em;
}
.info h2   {
  position: absolute;
  left: 15px;
  transform-origin: bottom left;
  transform: rotate(30deg);
  top: 80px;
	font-size: 2.4em;
}
.info span   {
  display: block;
  position: absolute;
  left: 270px;
  transform-origin: bottom left;
  transform: rotate(30deg);
  top: 290px;
}
.info svg  { fill: #000;}
.info p    { padding-bottom: 5vh;}
.info .grao{ height: 15vh; display: flex; justify-content: space-between; margin: 2vh 5vw 5vh 0;}
.info .sesc{ height: 10vh; display: flex; margin: 2vh 0 5vh 0;}
.info .grao svg, .info .sesc svg {width: 100%;}

.video {background-color: #fff;}
video {
	min-width: 100vw; min-height: 100vh;
	width: calc(16vh/9); height: calc(9vw/16);
	position: absolute;
	top: 50%; left: 50%;
	transform: translate3d(-50%,-50%,0);
}
footer {
  position: absolute;
  top: 5vh;
  right: 2vw;
	z-index: 20;
}
footer svg { position: relative; height: 7.5vh; margin: 0 1vw 0 0; cursor: pointer;}

/* ----------------------- Extra */
